name: CI Lambda

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install deps
        run: pip install -r requirements.txt bandit

      - name: Tests + Coverage
        run: pytest --cov=src --cov-report=xml

      - name: Security Scan
        run: bandit -r src

      - name: Sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: sonar-scanner

      - name: Zip Lambda
        run: zip -r lambda.zip src

      - name: Deploy Terraform
        if: github.ref == 'refs/heads/main'
        environment: production
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET }}
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve
